{% extends "main/BaseTemp.html" %}


{% block questionsHeader %} {% endblock %}


{% block questionHeader1 %} {% endblock %}
{% block questionText1 %} {% endblock %}

{% block questionHeader2 %} {% endblock %}
{% block questionText2 %} {% endblock %}

{% block questionHeader3 %} {% endblock %}
{% block questionText3 %} {% endblock %}

{% block questionHeader4 %} {% endblock %}
{% block questionText4 %} {% endblock %}



{% block examplesHeader %} {% endblock %}


{% block exampleHeader1 %} {% endblock %}

{% block exampleHeader2 %} {% endblock %}

{% block exampleHeader3 %} {% endblock %}

{% block exampleHeader4 %} {% endblock %}



{% block contacts %} {% endblock %}


{% block anotherProjects %} {% endblock %}

{% block linkJoyNot %} {% endblock %}
{% block linkPassGen %} {% endblock %}
{% block linkACMP %} {% endblock %}